body {
	background-image: url("../img/lava.gif");
	background-repeat: no-repeat;
	background-size: cover;
}

#red{
	background-color: red;
}

#blue{
	background-color: blue;
}

#green {
	background-color: green;
}
.boss-bar h3{
	background-color: red;
}

form {
	display: inline;
}

.player-bar {
	width: 48%;
	height: 20%;
	float: left;
	text-align: center;
	padding: 10px;
}

.boss-bar {
	width:48%;
	float: right;
	text-align: center;
	padding: 10px;
}

.arena {
	width: 100%;
	height: 80%;
	display: inline-block;
	overflow: none;
}

.player {
	height: 100%;
	width: 35%;
	float: left;
	margin-left: 50px;
	margin-top: 19%;
	margin-bottom: -10%;
	padding: 0px;
	overflow: none;
}

.player img {
	width: 200px;
	margin-top: 20%;
	margin-left: 62%;
}

.boss {
	height: 100%;
	width: 60%;
	float: right;
}

.boss img {
	width: 100%;
}