body {
	background-image: url("../img/background.png");
	background-size: cover;
}

.hp-bar {
	background-color: #42113C;
	width:100%;
	height:15%;
	position: fixed;
	top: 0;
	z-index: 0;
	left: 0;
}

.player-hp {
	background-color: red;
	border: 5px solid black;
	width: 30%;
	margin: 2% 10% 0% 10%;
	height: 30%;
	float: left;
}

.monster-hp {
	background-color: red;
	border: 5px solid black;
	width: 30%;
	margin: 2% 10% 0% 0%;
	height: 30%;
	float: right;
}

.button-bar {
	height: 50%;
	width: 30%;
	margin: 20% 0 0 10%;
	background-color: green;
	border: 5px solid black;
	overflow: hidden;
}

.button-bar ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

.button-bar li {
	text-align: center;
	border: 1px solid black;
	display: inline;
	float: left;
	margin: 10px auto;
	padding: 0;
	width: 25%;
	height: 100%;
}

.button-bar li a {
	display: block;
}

.button-bar li a:hover {
	background-color: #4CAF50;
	color: white;
}

.arena {
	display: inline;
	overflow: hidden;
}

.player {
	background-color: purple;
	border: 5px solid black;
	height: 100px;
	width: 100px;
	margin: 15% 0 0 22%;
	float: left;
}

.monster {
	background-color: gray;
	border: 5px solid black;
	height: 300px;
	width: 300px;
	float: right;
	margin: 0% 22% 0 0%;
}


