body {
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	top: 0;
	left: 0;
}

h3 {
	background-color: white;
}

form {
	display: inline;
}

.player-bar {
	border: 1px solid black;
	width: 48%;
	height: 20%;
	float: left;
	text-align: center;
	padding: 10px;
}

.boss-bar {
	border: 1px solid black;
	height: 20%;
	width:48%;
	float: right;
	text-align: center;
}

.arena {
	width: 100%;
	height: 80%;
	display: inline;
	overflow: none;
}

.player {
	border: 1px solid black;
	height: 100%;
	width: 50%;
	float: left;
}

.boss {
	border: 1px solid black;
	height: 100%;
	width: 50%;
	float: right;
}